params {
    reads  = "data/*_{1,2}.fastq.gz"
    outdir = "results"
    genome = "data/reference/hg38.fa"
}

profiles {
    docker {
        docker.enabled = true
        // Using a specialized bioinformatics image
        process.container = 'biocontainers/samtools:v1.9-4-deb_cv1'
    }
}

process {
    // This ensures your results are actually saved to a folder you can see
    publishDir = [
        path: { "${params.outdir}/${task.process.toLowerCase()}" },
        mode: 'copy'
    ]

    withName: 'ALIGN_READS' {
        cpus   = 4
        memory = '8 GB'
    }
    
    withName: 'SORT_BAM' {
        cpus   = 2
        memory = '4 GB'
    }
}
